#register-image {
    width: 85%;
}

.register-body {
    height: 100vh;
    padding-top: 50px;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-body {
    background-image: url("../../../public/signup-bg.svg");
}

.register-body>h1 {
    font-size: 45px;
}

.image-container {
    flex: 0.8;
}

.form-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.form-1 {
    text-align: center;
    width: 60%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(128, 128, 128);
    padding: 25px;
}

.form-1 h1 {
    padding: 10px 0;
}

.text-box input {
    width: 70%;
}

.text-box input {
    margin-bottom: 15px;
    border-radius: 10px;
}

.btn2 {
    background-color: rgb(241, 176, 34);
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    margin-bottom: 10px;
    border-radius: 12px;
}

.btn2:hover {
    background-color: rgb(238, 186, 73);
}